
.rectangle-parent {
    position: absolute;
    top: 320px;
    left: 594px;
    width: 1049px;
    height: 488.89px;
    text-align: center;
    font-size: var(--font-size-17xl);
  }
  .group-child7 {
    position: relative;
    top: 0;
   
    background-color: var(--color-gainsboro);
    width: 48vw;
    height: 25vw;
  }
  .competition-name {
    position: absolute;
    top: 2vw;
    left: 19vw;
    display: inline-block;
    width: 28vw;
    height: 4vw;
    font-size: 2.8vw;
  }
  .group-child8,
  .group-child9 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .group-child8 {
    
    width: 23vw;
    height: 25vw;
  }
  .group-child9 {
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 14vw;
    height: 4vw;
  }
  .register {
    position: absolute;
    top: 1vw;
    left: 2.5vw;
    font-weight: 600;
    font-size: 2vw;
    display: inline-block;
    width: 7vw;
    height: 2vw;
  }
  .group-child10 {
    position: absolute;
    top: 1.5vw;
    left: 10.5vw;
    width: 2vw;
    height: 1.5vw;
  }
  .rectangle-container {
    position: absolute;
    top: 18vw;
    left: 32vw;
    width: 14.5vw;
    height: 4vw;
    text-align: left;
    font-size: var(--font-size-9xl);
  }
  .lorem-ipsum-dolor1 {
    position: absolute;
    top: 7.5vw;
    left:20.5vw ;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray-100);
    display: inline-block;
    width: 27vw;
    height:6vw ;
  }
  .group-div,
  .rectangle-group {
    
    width: 48vw;
    height: 25vw;
   margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: right;
    font-size: var(--font-size-21xl);
  }
  .row2{
    display: flex;
  
    width: 100%;
   
    height: 25vw;
  
   justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
   
    justify-items: center;
  } 


  .row3{
    display: flex;
  
    width: 100%;
   
    height: 25vw;
  
   justify-content: center;
    flex-direction: row;
   
    justify-items: center;
  } 
  .row1{
    display: flex;
  
    width: 100%;
   
    height: 25vw;
    margin-bottom: 30px;
  
   justify-content: center;
    flex-direction: row;
   
    justify-items: center;
  } 


  @media ( max-width: 600px){
    .row1{
      flex-wrap: wrap;
    }
    .row2{
      flex-wrap: wrap;
      margin-top: 30vw;
    }

    .row3{
      flex-wrap: wrap;
      margin-top: 30vw;
    }
    .group-child7{


    }
  }





.group-child8 img {
  width: 23vw;
  height: 25vw;
  position: absolute;
  top: 0;
  left: 0;
}




.modules {
  position: absolute;
  top: 80px;
  left: 8vw;
  font-size: 64px;
  display: inline-block;
  font-family: var(--font-satoshi);
  text-align: center;
  width: 85vw;
  height: 8vw;
}


b {
  font-weight: bold;
}








.frame-icon {
  position: absolute;
  top: 42px;
  left: 91px;
  width: 209px;
  height: 45px;
}


.frame-icon img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

















html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;


}

#carousel {
  position: relative;
  height: 500px;
  top: 60%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 30vw;
  transition: width 400ms;
   -webkit-user-drag: none;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   border-radius: 10px;
}
#carousel div.hideLeft {
  display: none;
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  display: none;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
 
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel img:hover {
  cursor: 
}
#carousel div.prev img {
  width: 20vw;
}
#carousel div.prevLeftSecond {
  display: none;
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 20vw;
}
#carousel div.nextRightSecond {
  display: none;
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

/*previous or next buttons css*/

.buttons {
  position:absolute;
  left: 50%;
  top: 80vw;
  transform: translateX(-50%);
  bottom: 100px;
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}


.container {
  margin-top: 50px;
}







.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
ul {
  list-style: none;
}


.dots li:not(:last-child) {
  margin-right: 8px;
}

.dots label {
  display: inline-block;
  width: 42px;
  height: 12px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid var(--white);
  transition: background 0.25s;
}
label {
  display: block;
  cursor: pointer;
}
nav {
  position: absolute;
  top: 50%;
  margin-top: -42px;
  z-index: 900;
  width: 100%;
}


nav label { font-size: 50px; }
header label:hover { background: #2e353b; }
.prev {
  position: absolute;
  left: 10px;
}
.next {
  position: absolute;
  right: 10px;
}
.slide .prev, .slide .next { opacity: 0; }
[id^="slide"]:checked + .slide .prev, [id^="slide"]:checked + .slide .next {
  opacity: 1;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
}

label {
  cursor: pointer;
  display: inline-block;
}






